/*-------------------------------------------------------------------------->
<!-- Achou que era um código fodão e inovador aqui ?! ACHOU ERRADO OTÁRIO -->
<!-------------------------------------------------------------------------*/
@font-face {
    font-family: "hello";
    src:url("../fonts/MR ROBOT.ttf");
}

@font-face {
    font-family: "pixel";
    src: url("../fonts/Pixeled.ttf");
}

/*#header{
    background-color: #FFEB3B;
    font-family: 'Titillium Web', sans-serif;
}*/

.description{
    text-align: justify;
    margin: 0 5% 0 0;
}

#footer{
    text-align: center;
    /*background-color: #FFEB3B;*/
    background-color: #009688;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: : 1%;
    position: fixed;
}

#footer p{
    margin: 0;
    padding: 1.5%;
    color: #FFFFFF;
    /*color: #212121;*/
}

#footer small{
    color: #FFFFFF;
}

body {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}

div.main{
    margin-left: 25%;
    margin-bottom: 7%;
    padding: 30px 16px;
    height: auto;
    color: #212121;
    background-color: #FFFFFF;
}

div.content {
    margin-left: 25%;
    margin-bottom: 7%;
    padding: 30px 16px;
    height: auto;
    color: #212121;
}

/* Side Navbar */
#hello {
    text-align: center;
}

#hello a{
    font-family: "hello";
    color: white;
    font-size: 30px;
}

ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #009688;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidenav i{
    margin-right: 15px;
}

ul.sidenav li a {
    display: block;
    color: #FFFFFF;
    padding: 10px 30px;
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    font-size: 130%;
}

ul.sidenav li a.active {
    background-color: #00796B;
    color: white;
}

ul.sidenav li a:hover:not(.active) {
    background-color: #00796B;
    /*background-color: #00796B;*/
    color: white;
}

@media screen and (max-width: 900px) {
    ul.sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }
    ul.sidenav li a {
        float: left;
    }
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    ul.sidenav li a {
        text-align: center;
        float: none;
    }
}

/* Home Card */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 55%;
    margin-left: 15%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

.container p{
    font-family: "pixel";
    font-size: 8px;
    text-align: right;
    color: #00796B;
}
/********/
